.btn-green {
	color : #009407;
	font-weight: 600;
	font-size: unset;
	text-decoration: underline;
}

.btn-red {
	color : #a31300;
	font-weight: 600;
	font-size: unset;
	text-decoration: underline;
}

.btn-grey {
	color : #8c8c8c;
	font-weight: 600;
	font-size: unset;
	text-decoration: underline;
}

.btn-yellow {
	color : #d39e00;
	font-weight: 600;
	font-size: unset;
	text-decoration: underline;
}

#map { 
	height: 400px;    
	width: auto;            
}          
#pano { 
	height: 400px;    
	width: auto;            
}   

.body-confi{
	display: flex;
}

hr.solid {
  border-top: 3px solid #bbb;
}